* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    color: hsl(224, 23%, 55%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    background-color: white;
    height: 450px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.container img {
    height: 265px;
    width: 265px;
    border-radius: 10px;
}

.headline {
    text-align: center;
    font-weight: 800;
    color: black;
    font-size: 17px;
}

.content {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

